@import "tailwindcss";

:root {
  --font-urbanist: 'Urbanist', sans-serif;
  --font-figtree: 'Figtree', sans-serif;
}

.font-urbanist {
  font-family: var(--font-urbanist);
}

.font-figtree {
  font-family: var(--font-figtree);
}
